.pageWrapper {
  min-height: 100vh;
  position: relative;
  background: linear-gradient(to bottom right, #FCF9F6, #E8DDD3);
}

.pageWrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url('/record.png'); */
  background-repeat: no-repeat;
  background-position: -10% center;
  background-size: 500px;
  opacity: 0.12;
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
}