@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to bottom, #000000, #1a1a1a);
  color: white;
}

@keyframes slowspin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: slowspin 40s linear infinite;
}

/* h1 {
  color: ;
} */